/* Style du menu principal */
nav {
    background-color: #0D47A1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    background-color: #1E3A8A;
}

nav li {
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-size: 16px;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.social-icons a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
}

.search-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
    top: 100%;
    left: 0;
}

.dropdown-content li {
    display: block;
    width: 100%;
}

.dropdown-content a {
    padding: 10px 15px;
    display: block;
    color: black;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav ul li {
    display: inline-block;
}

nav ul .dropdown {
    display: inline-block;
}

.dropdown-content {
    text-align: left;
    width: auto;
}

/* Styles pour le contenu principal */
#2bacseco-content {
    padding: 20px;
}

#2bacseco-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Styles pour l'accordéon */
.section-table {
    width: 100%;
    border-collapse: collapse;
}

.section-table td {
    padding: 0;
}

.section-container {
    border: 2px solid red; /* Utile pour le debug, à retirer en production */
    padding: 10px;
    margin-bottom: 20px;
}

.section-container summary {
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    outline: none;
    text-decoration: underline; /*// C'est ici que j'avais fait la modification*/
}

details>summary:first-of-type {
    list-style: none;
}

details>summary:first-of-type::before {
    content: "▼ ";
    font-size: 1em;
}

details[open]>summary:first-of-type::before {
    content: "▲ ";
}

.download-links {
    margin-top: 10px;
    text-align: center;
}

.download-button {
    display: inline-flex; /* Utiliser flexbox pour aligner le texte et l'image */
    align-items: center;
    /* Centrer verticalement le texte et l'image */
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 16px;
    /* Ajuster la taille de la police au besoin */
}

.download-button:hover {
    background-color: darkgreen;
}

.download-button img {
    width: 20px;
    /* Ajuster la taille de l'image au besoin */
    height: 20px;
    margin-left: 5px;
    /* Ajouter un espacement entre le texte et l'image */
}
